<app-header></app-header>

<ion-content>
    <ion-grid>
        <ion-row color="primary">
            <ion-col class="center" size="12">
                <br>
                <ion-avatar class="center">
                    <img src="assets/images/no-avatar.svg">
                </ion-avatar>
                <br>
                <h3 class="center">{{user?.first_name}} {{user?.last_name}}</h3>
                <p class="center">
                    {{user?.username}} <br>
                    <em class="center">{{user?.email}}</em>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list #lista>
        <ion-item lines="none"></ion-item>
        <ion-item-divider mode="ios">
            <ion-label>Configuraciones</ion-label>
        </ion-item-divider>
        <ion-item detail button="true">
            <ion-icon name="contact" slot="start" color="secondary"></ion-icon>
            <ion-label>
                <h2>Perfil de usuario</h2>
            </ion-label>
        </ion-item>
        <ion-item detail button="true">
            <ion-icon name="information-circle" slot="start" color="secondary"></ion-icon>
            <ion-label>
                <h2>Acerca de</h2>
            </ion-label>
        </ion-item>
        <ion-item detail (click)="logoutUser()" button="true">
                <ion-icon name="log-out" slot="start" color="secondary"></ion-icon>
            <ion-label>
                <h2>Cerrar sesión</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>