<app-header [title]="title"></app-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                    <ion-text color="dark">
                        <h1>Conectarse</h1>
                    </ion-text>
                </div>
                <br>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item-divider mode="ios">
            <ion-label>Opciones de conexión</ion-label>
        </ion-item-divider>
        <ion-item detail (click)="scanQRCode()" button="true">
                <ion-icon name="barcode" size="large" slot="start" color="secondary"></ion-icon> 
            <ion-label>
                Escanear código QR
            </ion-label>
        </ion-item>

        <ion-item detail lines="full" button="true">
            <ion-icon name="code-working" size="large" slot="start" color="secondary"></ion-icon> 
            <ion-label>
                Agregar servidor manualmente
            </ion-label>
        </ion-item>
        <ion-item-divider mode="ios"></ion-item-divider>

        <ion-item-divider mode="ios">
            <ion-label>Información de la conexión</ion-label>
        </ion-item-divider>
        <ion-item lines="none">
            <ion-icon [name]="serverInfo.icon" [color]="serverInfo.color" size="large" slot="start"></ion-icon>
            <ion-label [color]="serverInfo.color">
                <h2>
                    {{serverInfo.text}}
                </h2>
                <ion-note>{{serverInfo.ip}}</ion-note>
            </ion-label>
        </ion-item>
        
    </ion-list>
    
    <!-- <ion-list>
        <ion-list-header>Información del servidor</ion-list-header>
        <ion-item>
            <ion-avatar>
                <ion-icon name="checkmark-circle" size="large"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h3>No hay servidor</h3>
                <p>192.168.1.4</p>
            </ion-label>
        </ion-item>
    </ion-list> -->
    <!-- <ion-list-header>Servidor Actual</ion-list-header>
    <ion-list>
        <ion-item>
            <ion-avatar>
                <ion-icon name="desktop" size="large"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h3 *ngIf="!serverInfoActual">No hay servidor</h3>
                <h3 *ngIf="serverInfoActual">{{serverInfoActual.hostname}}</h3>
                <p *ngIf="serverInfoActual">{{serverInfoActual.ip}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list-header>Servidores Disponibles</ion-list-header>
    <ion-list>
        <ion-item (click)="setActual()">
            <ion-avatar>
                <ion-icon name="desktop" size="large"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h3 *ngIf="!serverInfo">Buscando servidor ... </h3>
                <h3 *ngIf="serverInfo">{{serverInfo.hostname}}</h3>
                <p *ngIf="serverInfo">{{serverInfo.ip}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button expand="block"
                color="tertiary">
        <ion-icon slot="start" 
                  name="add-circle"></ion-icon>
        Agregar servidor manualmente
    </ion-button>  -->
</ion-content>
